{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "no-unused-vars": ["error", { "argsIgnorePattern": "next" }],
    "react/jsx-curly-spacing": ["error", {"when": "always"}],
    "no-underscore-dangle": 0,
    "max-len": ["error", {
        "tabWidth": 2,
        "code": 100,
        "ignoreComments": true,
      } 
    ]
  },
  "env": {
    "browser": true,
    "node": true
  }
}