@import './app.scss';
//      ____            _                   __    _      __     _____ __        ___            
//     / __ \___ _   __(_)__ _      _______/ /   (_)____/ /_   / ___// /___  __/ (_)___  ____ _
//    / /_/ / _ \ | / / / _ \ | /| / / ___/ /   / / ___/ __/   \__ \/ __/ / / / / / __ \/ __ `/
//   / _, _/  __/ |/ / /  __/ |/ |/ (__  ) /___/ (__  ) /_    ___/ / /_/ /_/ / / / / / / /_/ / 
//  /_/ |_|\___/|___/_/\___/|__/|__/____/_____/_/____/\__/   /____/\__/\__, /_/_/_/ /_/\__, /  
//                                                                    /____/          /____/   

.reviews-list {
  border-top: solid 2px $midnightSand;
  padding: 10px 0 20px;

  .load-button {
    color: $overcastSky;
    background-color: $blueSteel;
    border: solid 1px $blueSteel;
    border-radius: 8px;
    line-height: 30px;
    font-size: 20px;
    min-height: 30px;
    width: 80%;
    margin: 0 10%;
  }

  .load-button:hover {
    color: #FFF;
  }
  .load-button:focus {
    outline: none;
  }
}
